# Ignore everything
**

# include backend files and folders
!backend/package*.json
!backend/server.js
!backend/lib

# include frontend dist folder
!frontend/dist

# include metadata files
!LICENSE.md
!NOTICE.md
!VERSION