# editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# yarn zero-installs
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# local files with sensitive data
.env.local
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# binaries
scripts/bin

# GitGuardian
.cache_ggshield

# other files to ignore
.DS_Store
node_modules/
bin/
dist/
!packages/jest-esm-utils/dist/
!packages/kube-client/dist/
!packages/kube-config/dist/
!packages/logger/dist/
!packages/monitor/dist/
!packages/polling-watcher/dist/
!packages/request/dist/
!packages/test-utils/dist/
ssl/
tmp/
coverage/
my*
kubeconfig*
.vscode/launch.json
