# editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# yarn zero-installs
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# local files with sensitive data
.env.local
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# binaries
scripts/bin

# GitGuardian
.cache_ggshield

# other files to ignore
.DS_Store
node_modules/
bin/
dist/
ssl/
tmp/
coverage/
my*
kubeconfig*
.vscode/launch.json

# husky managed hooks
.husky/user-config
