.DS_Store
.idea
.vscode
.yarn
coverage

# Ignore kubeconfig
kubeconfig*

# Ignore node_modules.
node_modules/

# Ignore all tempfiles.
tmp/
npm-debug.log
yarn-error.log

# Ignore coverage reports
coverage/

# Ignore all files starting with "my"
my*
buildinfo.json
