.DS_Store
.idea
.vscode

# Ignore node_modules.
/node_modules

# Ignore documentation
/jsdoc
/docs/api/agent/*.html

# Ignore all logfiles and tempfiles.
/logs/*.log
/tmp
/store/sessions
/etc
npm-debug.log

# Ignore developer's settings files
config/settings.*.yml

# Ignore all files starting with "my"
my*

# Ignore coverage results
/coverage
.nyc_output
