.DS_Store
.idea
.vscode

# Ignore node_modules.
/node_modules

# Ignore documentation
/jsdoc

# Ignore all logfiles and tempfiles.
/logs/*.log
/tmp
/public
/etc
npm-debug.log


# Ignore all files starting with "my"
my*

# Ignore coverage results
/coverage
.nyc_output

# Ignore CJS build output directory
dist/
