{
  "all": true,
  "check-coverage": true,
  "lines": 58,
  "statements": 58,
  "functions": 58,
  "branches": 33,
  "include": [
    "server.js",
    "lib/**/*.js"
  ],
  "reporter": [
    "html",
    "text-summary"
  ]
}