{
  "all": true,
  "check-coverage": true,
  "lines": 83,
  "statements": 83,
  "functions": 86,
  "branches": 64,
  "include": [
    "lib/**/*.js"
  ],
  "reporter": [
    "html",
    "text-summary"
  ]
}