# SPDX-FileCopyrightText: 2020 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

{{- if .Values.tls }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.tlsSecretName | default "identity-tls" }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: identity
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
type: kubernetes.io/tls
data:
  tls.crt: {{ required ".Values.tls.crt is required" (b64enc .Values.tls.crt) }}
  tls.key: {{ required ".Values.tls.key is required" (b64enc .Values.tls.key) }}
{{- end }}