/*
 *  SPDX-FileCopyrightText: 2021 SAP SE or an SAP affiliate company and Gardener contributors
 *
 *  SPDX-License-Identifier: Apache-2.0
 */

/** Gardener Styles */
@import '~vuetify/src/styles/styles.sass';

[data-app] {
  .v-main > .container {
    min-height: calc(100vh - 156px)
  }
}

.v-list-item__action {
  .v-btn.v-btn--icon {
    color: map-deep-get($material-theme, 'text', 'primary');
  }
}

.secret-dialog {
  .help-content {
    a {
      text-decoration: none;
    }
    h1 {
      font-size: 22px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.alert-banner-message {
  p {
    display: inline !important;
  }
}

.font-family-monospace {
  font-family: monospace;
}

.full-width {
  width: 100%;
}

.rounded-0 {
  border-radius: 0;
}

.rounded-1 {
  border-radius: 2px;
}

.rounded-2 {
  border-radius: 4px;
}

.rounded-3 {
  border-radius: 8px;
}

.theme--light .alternate-row-background > div:nth-of-type(even) {
  background-color: rgba(0, 0, 0, .02);
}

.theme--dark .alternate-row-background > div:nth-of-type(even) {
  background-color: rgba(0, 0, 0, .2);
}
