/*
 *  SPDX-FileCopyrightText: 2020 SAP SE or an SAP affiliate company and Gardener contributors
 *
 *  SPDX-License-Identifier: Apache-2.0
 */

/** Gardener Styles */
@import '~vuetify/src/styles/styles.sass';

[data-app] {
  .v-main > .container {
    min-height: calc(100vh - 156px)
  }
}

.v-list-item__action {
  .v-btn.v-btn--icon {
    color: map-deep-get($material-theme, 'text', 'primary');
  }
}

.secret-dialog {
  .help-content {
    a {
      text-decoration: none;
    }
    h1 {
      font-size: 22px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.alert-banner-message {
  p {
    display: inline !important;
  }
}

.full-width {
  width: 100%;
}

.mr-extra {
  margin-right: 96px;
}

.rounded-0 {
  border-radius: 0;
}

.rounded-1 {
  border-radius: 2px;
}

.rounded-2 {
  border-radius: 4px;
}

.rounded-3 {
  border-radius: 8px;
}

.openstack-bgcolor {
  background-color: #ED1944 !important;
}

.vsphere-bgcolor {
  background-color: #013D79 !important;
}

.azure-bgcolor {
  background-color: #2075b8 !important;
}

.aws-bgcolor {
  background-color: #ff9900 !important;
}

.metal-bgcolor {
  background-color: #3B8ACD !important;
}
