/*
 *  SPDX-FileCopyrightText: 2023 SAP SE or an SAP affiliate company and Gardener contributors
 *
 *  SPDX-License-Identifier: Apache-2.0
 */

@forward 'vuetify/lib/styles/main.sass';

/** Gardener Styles */
[data-v-app] {
  .v-main > .v-container {
    min-height: calc(100vh - 156px)
  }
}

.secret-dialog {
  .help-content {
    a {
      text-decoration: none;
    }
    h1 {
      font-size: 22px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.g-table {
  font-size: 14px;
  .v-data-table-header__content {
    white-space: nowrap !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
  }
  .v-data-table-footer__items-per-page .v-field {
    font-size: 14px !important;
  }
}

.g-table-search-field {
  min-width: 200px;
  max-width: 400px;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none !important;
}

.nowrap {
  white-space: nowrap;
}

.wrap-text {
  white-space: normal;
}

.alert-banner-message {
  p {
    display: inline !important;
  }
}

.font-family-monospace {
  font-family: monospace;
}

.full-width {
  width: 100%;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: 2px;
}

.rounded-2 {
  border-radius: 4px;
}

.rounded-3 {
  border-radius: 8px;
}

.v-theme--light {
  .alternate-row-background > div:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .02);
  }
}

.v-theme--dark {
  .alternate-row-background > div:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .2);
  }
}

.v-theme-- {
  &light, &dark {
    .g-highlighted {
      $background-color: if(&light, #fff3cd, #2e2e2e);
      $border-color: if(&light, #fde7a4, #444444);

      background-color: $background-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      box-sizing: border-box;

      &.g-highlighted--top {
        border-top: 1px solid $border-color;
      }

      &.g-highlighted--bottom {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.inherit-color {
  color: inherit !important;
}

.inherit-opacity {
  opacity: inherit !important;
}

.regular-input {
  max-width: 300px;
  min-width: 180px;
  flex: 1 1 auto;
  padding: 12px;
}

.small-input {
  max-width: 120px;
  min-width: 112px;
  flex: 1 1 auto;
  padding: 12px;
}

.large-input {
  max-width: 600px;
  min-width: 180px;
  flex: 1 1 auto;
  padding: 12px;
}
