/*
 *  SPDX-FileCopyrightText: 2023 SAP SE or an SAP affiliate company and Gardener contributors
 *
 *  SPDX-License-Identifier: Apache-2.0
 */

@forward 'vuetify/lib/styles/main.sass';

/** Gardener Styles */
[data-v-app] {
  .v-main > .v-container {
    min-height: calc(100vh - 156px)
  }
}

.secret-dialog {
  .help-content {
    a {
      text-decoration: none;
    }
    h1 {
      font-size: 22px;
      font-weight: 400;
    }
    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.g-table {
  font-size: 14px;
  .v-data-table-header__content {
    white-space: nowrap !important;
    font-size: 14px !important;
  }
  .v-data-table-footer__items-per-page .v-field {
    font-size: 14px !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.wrap-text {
  white-space: normal;
}

.alert-banner-message {
  p {
    display: inline !important;
  }
}

.font-family-monospace {
  font-family: monospace;
}

.full-width {
  width: 100%;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: 2px;
}

.rounded-2 {
  border-radius: 4px;
}

.rounded-3 {
  border-radius: 8px;
}

.v-theme--light {
  .alternate-row-background > div:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .02);
  }
}

.v-theme--dark {
  .alternate-row-background > div:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .2);
  }
}

.inherit-color {
  color: inherit !important;
}

.inherit-opacity {
  opacity: inherit !important;
}

/*
 This fixes the missing margin for multi-line hints
 TODO Maybe we can remove this whith future vuetify version
*/
.v-input__details {
  padding-top: 5px !important;
}
