name: Generate Dependency Diagrams

on:
  push:
    paths:
      - 'backend/**'
      - 'packages/**'
    branches-ignore:
      - 'master'
      - 'hotfix-*'
      - 'release-*'

permissions:
  contents: write

jobs:
  generate-diagrams:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: true

      - name: Enable Corepack # Enable yarn version 4
        run: corepack enable

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c # v2.0.2

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '22.22.0'

      - name: Install dependencies
        run: |
          set -eu
          YARN_ENABLE_SCRIPTS=0 yarn install --immutable --immutable-cache --check-cache --refresh-lockfile

      - name: Generate dependency diagrams
        run: yarn generate-all-dependency-diagrams

      - name: Commit changes
        uses: iarekylew00t/verified-bot-commit@a98e193a522f102d0a8429d53071c9d12d5e7351 # v2.1.2
        with:
          message: 'Update dependency diagrams'
          files: |
            backend-highlevel-dependency-diagram.html
            backend-lowlevel-dependency-diagram.html
            packages-highlevel-dependency-diagram.html
            packages-lowlevel-dependency-diagram.html
