name: Generate Dependency Diagrams

on:
  push:
    paths:
      - 'backend/**'
      - 'packages/**'
    branches-ignore:
      - 'master'
      - 'hotfix-*'

jobs:
  generate-diagrams:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: true

      - name: Enable Corepack # Enable yarn version 4
        run: corepack enable

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c # v2.0.2

      - name: Setup Node.js
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: '22'

      - name: Install dependencies
        run: yarn install

      - name: Generate dependency diagrams
        run: yarn generate-all-dependency-diagrams

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          add: 'diagram/.'
          fetch: true
          message: 'Commit from GitHub Actions (dependency-diagrams.yml) [skip ci]'
          pathspec_error_handling: 'exitAtEnd'
