name: Prepare Hotfix Branch

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      callback-action-path:
        required: false
        type: string
        default: ''
    secrets:
      GARDENER_GITHUB_ACTIONS_PRIVATE_KEY:
        description: "Private key for the Gardener GitHub Actions app"
        required: true
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag for which the hotfix should be created'
        required: true
        type: string
      callback-action-path:
        description: 'Callback action path'
        required: false
        type: string
        default: .github/actions/prepare-hotfix

permissions:
  contents: none  # we rely on the GitHub App token instead

jobs:
  prepare-hotfix:
    runs-on: ubuntu-latest
    env:
      TAG: ${{ inputs.tag }}
    steps:
      - name: Create GitHub App token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf   # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.GARDENER_GITHUB_ACTIONS_APP_ID }}
          private-key: ${{ secrets.GARDENER_GITHUB_ACTIONS_PRIVATE_KEY }}
          permission-contents: write
          permission-pull-requests: write
          permission-workflows: write

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.repository.default_branch }}
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 1

      - name: Prepare hotfix branch
        uses: gardener/dashboard/.github/actions/prepare-hotfix-branch@master
        with:
          tag: ${{ env.TAG }}
          github-token: ${{ steps.app-token.outputs.token }}
          callback-action-path: ${{ inputs.callback-action-path }}
